[submodule "DelhiaCakes"]
	path = DelhiaCakes
	url = https://github.com/denisdelaki/DelhiaCakes.git
[submodule "DelhiaCakes-backend-"]
	path = DelhiaCakes-backend-
	url = https://github.com/denisdelaki/DelhiaCakes-backend-.git
